@charset "UTF-8";
@font-face {
    font-family: "Work_Sans";
    src: url(Work_Sans/WorkSans-VariableFont_wght.ttf);
}

*{
    font-family: "Work_Sans";
}

main{
    background-color: #F9F1B3;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(81, 86, 129, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

body{
    background-color: #786E24;
}

h1{
    color: #786E24;
    text-align: center;
    text-shadow: 1px 1px 2px #786E24;
}

div{
    margin-bottom: 20px;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div > label {
    align-self: flex-start;
    padding: 6px;
    margin-left: 6px;
}

.textfield > input {
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #f7e24b;
    font-size: 12pt;
    color: #78734A;
    
}

button {
    background-color: #C4B43B;
    padding: 10px;
    color: #786E24;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.botao21 {
    margin-left: 300px;
}

.button-space {
    display: flex;
    justify-content: space-between;
}